@media screen and (max-width:199px) {
  body {
    display: none;
  }
}

@media screen and (min-width:200px) and (max-width: 575.98px) {
  .m-p2 {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .m-p0 {
    padding: 0 !important;
  }

  .toggle-bg {
    background-color: #F8F9FA;
    color: #E7AF24;
  }


  .toggle-nav-link {
    text-align: center;
  }

  .toggle-text {
    color: #E7AF24 !important;
  }

  .toggle-text:hover {
    background-color: #E7AF24;
    color: white !important;
  }

  .toggle-text:link {
    color: white !important;
  }

  .toggle-img {
    position: absolute;
    top: 0%;
    right: 0;
    margin-right: 10px;
    width: 90px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav-border-buttom {
    border-bottom: rgba(231, 175, 36, 0.78);
    box-shadow: -1px 9px 20px -8px rgb(231 175 36 / 78%)
  }

  .bg-text1 {
    background-color: #F8F9FA;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .hide-search,
  .hide-bth {
    display: none;
  }

  .container-mobile {
    display: block !important;
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;

    background-color: #F8F9FA;

  }

  .form-control {
    border: 2px solid #E7AF24;
    border-radius: 10px;
    height: 50px;
  }

  .section1 {
    font-size: 1rem;
  }

  .m-text-center {
    text-align: center;
  }

  .m-text-right {
    text-align: right;
  }

  .m-text-left {
    text-align: left;
  }


  .btn-text1-mobile {
    width: 100%;
  }

  .wrap-text1-mobile1 {
    text-align: center;
  }

  .wrap-section-mobile1 {

    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    /* margin: 10px 0; */
    padding-right: 0px;
    padding-left: 0px;

    background-color: #F8F9FA;
  }

  .wrap-section-mobile1 div {
    /* text-align: left ; */
    /* padding-left: 5px;
    padding-right: 5px; */
  }

  .wrap-section1 {
    margin: auto;
  }

  .bg-text1 {
    background-color: #F8F9FA;
  }

  .section1 {
    font-size: 0.7rem;
    background-color: #F8F9FA;
    border-bottom: 1px solid #E7AF24;
  }

  .text-section1 {
    text-align: right;
    font-weight: 500;
  }

  .wrap-text1 {
    margin: auto;

  }

  .flex-item-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-item-img>img {}

  .wrap-section2 {
    height: 40vh;
    margin: 0;
    background-color: #FFFFFF;
  }

  .box1 {
    text-align: center;
    height: 100%;
    font-size: 22px;
    color: #E7AF24;
  }

  .h-box1 {
    height: 100%;
    line-height: 10vh;
  }



  .box2 {
    font-size: 22px;
    color: #E7AF24;
  }

  .h-box2 {
    height: 100%;
    line-height: 10vh;
  }

  .h-box2 img {
    width: 20px;
  }

  .section3 {
    font-size: 22px;
  }

  .wrap-section3 {
    height: auto;
    margin: 0;
  }

  .bg-exchange {
    background-image: url(../images/bg-grapg-01.png);
    background-size: cover;

  }

  .f-box3 {
    font-size: 22px;
    color: white;
    text-align: center;
  }

  .h-box3 {
    /* height: 44px;
    line-height: 44px; */
  }

  .section4 {
    color: #E7AF24;
  }

  .wrap-section4 {
    height: 45vh;
  }

  .h-box4 {
    height: 25vh;
    line-height: 25vh;
  }

  .h-box4-sub {
    height: 20vh;
  }

  .footer-box4 {
    height: 200px;
    background-color: #E7AF24;
  }

  .m-p-hide {
    display: none;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .toggle-bg {
    background-color: #F8F9FA;
    color: #E7AF24;
  }


  .toggle-nav-link {
    text-align: center;
  }

  .toggle-text {
    color: #E7AF24 !important;
  }

  .toggle-text:hover {
    background-color: #E7AF24;
    color: white !important;
  }

  .toggle-text:link {
    color: white !important;
  }

  .toggle-img {
    position: absolute;
    top: 0%;
    right: 0;
    margin-right: 10px;
    width: 90px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav-border-buttom {

    border-bottom: rgba(231, 175, 36, 0.78);
    box-shadow: -1px 9px 20px -8px rgb(231 175 36 / 78%)
  }

  .wrap-section1 {
    width: auto;
    margin: auto;
  }

  .bg-text1 {
    background-color: #F8F9FA;
  }

  .section1 {
    width: 100%;
    font-size: 0.7rem;
    background-color: #F8F9FA;
    border-bottom: 1px solid #E7AF24;
  }

  .text-section1 {
    text-align: right;
    font-weight: 500;
  }

  .wrap-text1 {
    width: auto;
    margin: auto;

  }

  .flex-item-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-item-img>img {
    width: auto;
  }

  .wrap-section2 {
    height: 40vh;
    margin: 0;
    background-color: #FFFFFF;
  }

  .box1 {
    text-align: center;
    height: 100%;
    font-size: 2rem;
    color: #E7AF24;
  }

  .h-box1 {
    height: 100%;
    line-height: 10vh;
  }



  .box2 {
    font-size: 1.5rem;
    color: #E7AF24;
  }

  .h-box2 {
    height: 100%;
    line-height: 10vh;
  }

  .h-box2 img {
    width: 25px;
  }

  .section3 {
    width: 100%;
    font-size: 0.5rem;
  }

  .wrap-section3 {
    height: 50vh;
    margin: 0;
  }

  .bg-exchange {
    width: 100%;
    background-image: url(../images/bg-grapg-01.png);
    background-size: cover;

  }

  .f-box3 {
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .h-box3 {
    height: 16.6vh;
    line-height: 16.6vh;
  }

  .p-box3-inline {
    height: 16.6vh
  }

  .section4 {
    color: #E7AF24;
  }

  .wrap-section4 {
    height: 45vh;
  }

  .h-box4 {
    height: 25vh;
    line-height: 25vh;
  }

  .h-box4-sub {
    height: 20vh;
  }

  .footer-box4 {
    height: 200px;
    background-color: #E7AF24;
  }

  .m-p-hide {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .toggle-bg {
    background-color: #F8F9FA;
    color: #E7AF24;
  }


  .toggle-nav-link {
    text-align: center;
  }

  .toggle-text {
    color: #E7AF24 !important;
  }

  .toggle-text:hover {
    background-color: #E7AF24;
    color: white !important;
  }

  .toggle-text:link {
    color: white !important;
  }

  .toggle-img {
    position: absolute;
    top: 0%;
    right: 0;
    margin-right: 10px;
    width: 90px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav-border-buttom {

    border-bottom: rgba(231, 175, 36, 0.78);
    box-shadow: -1px 9px 20px -8px rgb(231 175 36 / 78%)
  }

  .wrap-section1 {
    width: auto;
    margin: auto;
  }

  .bg-text1 {
    background-color: #F8F9FA;
  }

  .section1 {
    width: 100%;
    font-size: 1rem;
    background-color: #F8F9FA;
    border-bottom: 1px solid #E7AF24;
  }

  .text-section1 {
    text-align: right;
    font-weight: 500;
  }

  .wrap-text1 {
    width: auto;
    margin: auto;

  }

  .flex-item-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-item-img>img {
    width: auto;
  }

  .wrap-section2 {
    height: 50vh;
    margin: 0;
    background-color: #FFFFFF;
  }

  .box1 {
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
    color: #E7AF24;
    border-right: 2px dotted #E7AF24;

  }

  .h-box1 {
    height: 100%;
    line-height: 50vh;
  }



  .box2 {
    font-size: 1.5rem;
    color: #E7AF24;
  }

  .h-box2 {
    height: 16.6vh;
    line-height: 16.6vh;
  }

  .h-box2 img {
    width: 30px;
  }

  .section3 {
    width: 100%;
    font-size: 0.5rem;
  }

  .wrap-section3 {
    height: 50vh;
    margin: 0;
  }

  .bg-exchange {
    width: 100%;
    background-image: url(../images/bg-grapg-01.png);
    background-size: cover;

  }

  .f-box3 {
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .h-box3 {
    height: 16.6vh;
    line-height: 16.6vh;
  }

  .p-box3-inline {
    height: 16.6vh
  }

  .section4 {
    color: #E7AF24;
  }

  .wrap-section4 {
    height: 45vh;
  }

  .h-box4 {
    height: 25vh;
    line-height: 25vh;
  }

  .h-box4-sub {
    height: 20vh;
  }

  .footer-box4 {
    height: 200px;
    background-color: #E7AF24;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .p-nav {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-border-buttom {
    border-bottom: rgba(231, 175, 36, 0.78);
    box-shadow: -1px 9px 20px -8px rgb(231 175 36 / 78%)
  }

  .nav-menu-logo {
    padding-left: 10vw;
  }

  .nav-menu-lg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10vw;
  }

  .nav-menu-lg i,
  p {
    color: #E7AF24;
  }

  .wrap-section1 {
    width: auto;
    margin: auto;
  }

  .bg-text1 {
    background-color: #F8F9FA;
  }

  .section1 {
    width: 100%;
    font-size: 1rem;
    background-color: #F8F9FA;
    border-bottom: 1px solid #E7AF24;
  }

  .text-section1 {
    text-align: right;
    font-weight: 500;
  }

  .wrap-text1 {
    width: auto;
    margin: auto;

  }

  .flex-item-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-item-img>img {
    width: auto;
  }

  .wrap-section2 {
    height: 50vh;
    margin: 0;
    background-color: #FFFFFF;
  }

  .box1 {
    text-align: center;
    height: 100%;
    font-size: 2rem;
    color: #E7AF24;
    border-right: 2px dotted #E7AF24;

  }

  .h-box1 {
    height: 100%;
    line-height: 50vh;
  }



  .box2 {
    font-size: 1.5rem;
    color: #E7AF24;
  }

  .h-box2 {
    height: 16.6vh;
    line-height: 16.6vh;
  }

  .h-box2 img {
    width: 40px;
  }

  .section3 {
    width: 100%;
    font-size: 1rem;
  }

  .wrap-section3 {
    height: 50vh;
    margin: 0;
  }

  .bg-exchange {
    width: 100%;
    background-image: url(../images/bg-grapg-01.png);
    background-size: cover;

  }

  .f-box3 {
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .h-box3 {
    height: 16.6vh;
    line-height: 16.6vh;
  }

  .p-box3-inline {
    height: 16.6vh
  }

  .section4 {
    color: #E7AF24;
  }

  .wrap-section4 {
    height: 45vh;
  }

  .h-box4 {
    height: 25vh;
    line-height: 25vh;
  }

  .h-box4-sub {
    height: 20vh;
  }

  .footer-box4 {
    height: 200px;
    background-color: #E7AF24;
  }
}

@media (min-width: 1200px) {
  .p-nav {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-border-buttom {
    border-bottom: rgba(231, 175, 36, 0.78);
    box-shadow: -1px 9px 20px -8px rgb(231 175 36 / 78%)
  }

  .nav-menu-logo {
    padding-left: 10vw;
  }

  .nav-menu-lg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10vw;
  }

  .nav-menu-lg i,
  p {
    color: #E7AF24;
  }

  .nav-link :hover {
    color: blue !important;
    text-decoration: underline;
  }

  .wrap-section1 {
    width: 1020px;
    margin: auto;
  }

  .bg-text1 {
    background-color: #F8F9FA;
  }

  .section1 {
    width: 100%;
    font-size: 1rem;
    background-color: #F8F9FA;
    border-bottom: 1px solid #E7AF24;
  }

  .text-section1 {
    text-align: right;
    font-weight: 500;
  }

  .wrap-text1 {
    width: 1020px;
    margin: auto;

  }

  .flex-item-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-item-img>img {
    width: auto;
  }

  .wrap-section2 {
    height: 50vh;
    margin: 0;
    background-color: #FFFFFF;
  }

  .box1 {
    text-align: center;
    height: 100%;
    font-size: 2rem;
    color: #E7AF24;
    border-right: 2px dotted #E7AF24;

  }

  .h-box1 {
    height: 100%;
    line-height: 50vh;
  }



  .box2 {
    font-size: 1.5rem;
    color: #E7AF24;
  }

  .h-box2 {
    height: 16.6vh;
    line-height: 16.6vh;
  }

  .h-box2 img {
    width: 40px;
  }

  .section3 {
    width: 100%;
    font-size: 1rem;
  }

  .wrap-section3 {
    height: 50vh;
    margin: 0;
  }

  .bg-exchange {
    width: 100%;
    background-image: url(../images/bg-grapg-01.png);
    background-size: cover;

  }

  .f-box3 {
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .h-box3 {
    height: 16.6vh;
    line-height: 16.6vh;
  }

  .p-box3-inline {
    height: 16.6vh
  }

  .section4 {
    color: #E7AF24;
  }

  .wrap-section4 {
    height: 45vh;
  }

  .h-box4 {
    height: 25vh;
    line-height: 25vh;
  }

  .h-box4-sub {
    height: 20vh;
  }

  .footer-box4 {
    height: 200px;
    background-color: #E7AF24;
  }
}